@import "https://unpkg.com/@wordpress/components@latest/dist/style.css";
@import "https://unpkg.com/@wordpress/block-editor@latest/dist/style.css";
@import "https://unpkg.com/@wordpress/block-library@latest/dist/style.css";
@import "https://unpkg.com/@wordpress/edit-post@latest/dist/style.css";

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
